<header class="sheet-header">
	<ul>
		<li>
			<img
				src="{{actor.img}}"
				data-action="editImage"
				data-edit="img"
				title="{{actor.characterName}}"
				height="64"
				width="64"
			/>
			<input
				type="text"
				name="name"
				class="large"
				value="{{actor.characterName}}"
				placeholder="{{ localize 'Name' }}"
			/>
		</li>
	</ul>
		<ul>
		<li>
			<input
				type="text"
				name="name"
				class="large"
				value="{{actor.playerName}}"
				placeholder="{{ localize 'Player Name' }}"
			/>
		</li>
	</ul>
</header>