<section class="sheet-origin">
	<ul>
		<li>
			<label for="career">
				Career
			</label>
				<input
			type="text"
			name="name"
			value="{{actor.origin.career}}"
		/>
		</li>
	</ul>
	<ul>
		<li>
			<label for="homeworld">
				Homeworld
			</label>
				<input
			type="text"
			name="name"
			value="{{actor.origin.homeworld}}"
		/>
		</li>
	</ul>	
	<ul>
		<li>
			<label for="birthright">
				Birthright
			</label>
				<input
			type="text"
			name="name"
			value="{{actor.origin.birthright}}"
		/>
		</li>
	</ul>
	<ul>
		<li>
			<label for="lureofthevoid">
				Lure of the Void
			</label>
				<input
			type="text"
			name="name"
			value="{{actor.origin.lureofthevoid}}"
		/>
		</li>
	</ul>
	<ul>
		<li>
			<label for="trialsandtravails">
				Trials and Travails
			</label>
				<input
			type="text"
			name="name"
			value="{{actor.origin.trialsandtravails}}"
		/>
		</li>
	</ul>
			<ul>
		<li>
			<label for="motivation">
				Motivation
			</label>
				<input
			type="text"
			name="name"
			value="{{actor.origin.motivation}}"
		/>
		</li>
	</ul>
	<ul>
		<li>
			<label for="lineage">
				Lineage
			</label>
				<input
			type="text"
			name="name"
			value="{{actor.origin.lineage}}"
		/>
		</li>
	</ul>
</section>