<section class="sheet-characteristics">
    <div>

        <ul>
            <li>
                <label for="weaponskill">
                    Weaponskill
                </label>
                    <input
                type="text"
                name="name"
                value="{{actor.characteristics.weaponskill}}"
            />
            </li>
        </ul>
        <ul>
            <li>
                <label for="ballisticskill">
                    Ballisticskill
                </label>
                    <input
                type="text"
                name="name"
                value="{{actor.characteristics.ballisticskill}}"
            />
            </li>
        </ul>
        <ul>
            <li>
                <label for="strength">
                    Strength
                </label>
                    <input
                type="text"
                name="name"
                value="{{actor.characteristics.strength}}"
            />
            </li>
        </ul>
        <ul>
            <li>
                <label for="toughness">
                    Toughness
                </label>
                    <input
                type="text"
                name="name"
                value="{{actor.characteristics.toughness}}"
            />
            </li>
        </ul>
        <ul>
            <li>
                <label for="agility">
                    Agility
                </label>
                    <input
                type="text"
                name="name"
                value="{{actor.characteristics.agility}}"
            />
            </li>
        </ul>
        <ul>
            <li>
                <label for="intelligence">
                    Intelligence
                </label>
                    <input
                type="text"
                name="name"
                value="{{actor.characteristics.intelligence}}"
            />
            </li>
        </ul>
                <ul>
            <li>
                <label for="perception">
                    Perception
                </label>
                    <input
                type="text"
                name="name"
                value="{{actor.characteristics.perception}}"
            />
            </li>
        </ul>
                <ul>
            <li>
                <label for="willpower">
                    Willpower
                </label>
                    <input
                type="text"
                name="name"
                value="{{actor.characteristics.willpower}}"
            />
            </li>
        </ul>
                <ul>
            <li>
                <label for="fellowship">
                    Fellowship
                </label>
                    <input
                type="text"
                name="name"
                value="{{actor.characteristics.fellowship}}"
            />
            </li>
        </ul>
    </div>
</section>